body .detail-attribution {
  display: block;
  margin-top: 10px;
  color: #695e58;
  font-family: "PT Mono", monospace !important;
  font-size: 10px !important;
  line-height: 14px !important;
  font-weight: 500 !important;
  letter-spacing: .04em !important;
}
